<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.css" rel="stylesheet">-->

    <title>Car List</title>

</head>
<body>
    <div class="form-group col-sm-8">
        <label for="multiselectSearch">Search</label>
        <select id="multiselectSearch" multiple class="form-control">
            <option value="brand1">Brand 1</option>
            <option value="brand2">Brand 2</option>
            <option value="brand3">Brand 3</option>
        </select>
    </div>

    <div class="container mt-5">
        <h1>Search Vehicles</h1>
        <form id="searchForm" class="form-inline mb-4">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="searchQuery" placeholder="Enter vehicle details">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    
        <h2>Car List</h2>
        <ul>
            {{#each items}}
            <li>
                <strong>ID:</strong> {{this.id}} <br>
                <strong>Brand:</strong> {{this.brand}} <br>
                <strong>Model:</strong> {{this.model}} <br>
                <strong>Price:</strong> {{this.price}} <br>
                <br>
            </li>
            {{/each}}
        </ul>

        <h2>User List</h2>
        <ul>
            {{#each user}}
            <li>
                <strong>ID:</strong> {{this.id}} <br>
                <strong>Name:</strong> {{this.name}} <br>
                <strong>Email:</strong> {{this.email}} <br>
                <strong>Password:</strong> {{this.password}} <br>
                <br>
            </li>
            {{/each}}
        </ul>

        <div id="searchResults"></div>
    </div>
</body>
</html>