<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car List</title>
</head>

<body>
  <div>
    <form action="/items/search" method="get">
      <label for="brand_name">Brand Name:</label>
      <input type="text" id="brand_name" name="brand_name">

      <label for="model_name">Model Name:</label>
      <input type="text" id="model_name" name="model_name">

      <button type="submit">Search</button>
    </form>
  </div>
  <div class="container mt-5">
    <h1>Search cars</h1>
    <form id="searchForm" action="/items/search" method="get" class="form-inline mb-4">
      <div class="form-group mx-sm-3 mb-2">
        <label for="brandSelect">Select Brand: </label>
        <select id="brandSelect" name="brandSelect" multiple="multiple" class="form-control">
          {{#each car_brand}}
          <option value="{{this.brand_id}}">{{this.brand_name}}</option>
          {{/each}}
        </select>

        <label for="modelSelect">Select Model:</label>
        <select id="modelSelect" name="modelSelect" class="form-control" multiple="multiple">
          {{#each car_model}}
          <option value="{{this.model_id}}">{{this.model_name}}</option>
          {{/each}}
        </select>
        
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <h2>Car List</h2>
    <ul>
      {{#each items}}
      <li>
        <strong>Brand:</strong> {{this.brand_name}} <br>
        <strong>Model:</strong> {{this.model_name}} <br>
        <br>
      </li>
      {{/each}}
    </ul>
  </div>
</body>

</html>