<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Car List</title>

</head>

<body>
    <div>
        <!-- Example search form in your frontend (e.g., search.handlebars) -->

        <form action="/items" method="get">
            <label for="brand_name">Brand Name:</label>
            <input type="text" id="brand_name" name="brand_name">

            <label for="model_name">Model Name:</label>
            <input type="text" id="model_name" name="model_name">

            <label for="color">Color:</label>
            <input type="text" id="color" name="color">

            <label for="year">Year:</label>
            <input type="number" id="year" name="year">

            <label for="price_min">Min Price:</label>
            <input type="number" id="price_min" name="price_min">

            <label for="price_max">Max Price:</label>
            <input type="number" id="price_max" name="price_max">

            <button type="submit">Search</button>
        </form>
    </div>

    <div class="container mt-5">
        <h1>Search cars</h1>
        <form id="searchForm" action="/items" method="get" class="form-inline mb-4">
            <div class="form-group mx-sm-3 mb-2">
                <label for="brandSelect">Select Brand:</label>
                <select id="brandSelect" name="brandSelect[]" class="form-control" multiple>
                    {{#each car_brand}}
                    <option value="{{this.brand_id}}">{{this.brand_name}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>

    {{!-- <h2>Car List</h2>
    <ul>
        {{#each items}}
        <li>
            <strong>Brand ID:</strong> {{this.brand_id}} <br>
            <strong>Brand:</strong> {{this.brand_name}} <br>
            <strong>Model:</strong> {{this.model_name}} <br>
            <strong>Model ID:</strong> {{this.model_id}} <br>
            <br>
        </li>
        {{/each}}
    </ul>

    <h2>User List</h2>
    <ul>
        {{#each user}}
        <li>
            <strong>ID:</strong> {{this.id}} <br>
            <strong>Name:</strong> {{this.name}} <br>
            <strong>Email:</strong> {{this.email}} <br>
            <br>
        </li>
        {{/each}}
    </ul> --}}
    <h1>Search Results</h1>
    <ul>
        {{#each items}}
        <li>Brand: {{this.brand_name}}, 
            Model: {{this.model_name}}
        </li>
        {{/each}}
    </ul>
</body>

</html>
{{!--
</div>
</body>

</html> --}}