<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <style>
        img {
            width: 50%;
            margin: 5%;
            position: left;
        }        
    </style>
</head>

<body>
    <div class="listing-container">
        <h1 class="listing-title">{{title}}</h1>
        <img src="/images/car-1376190_1280.jpg" alt="Vehicle Image">
        <p class="vehicle-specs">{{specs}}</p>
        <p class="listing-description">{{description}}</p>
        <p class="price">{{price}}</p>
    </div> 
</body>

</html>
