{{!-- result.handlebars --}}
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!-- Include your CSS and other head elements here -->
</head>
<body>
    <div class="container mt-5">
        <h1>Search cars</h1>
        <form id="searchForm" action="/items/search" method="get" class="form-inline mb-4">
            <div class="form-group mx-sm-3 mb-2">
                <label for="brandSelect">Valitse Merkki:</label>
                <select id="brandSelect" name="brandSelect" class="form-control" multiple="multiple">
                    {{#each car_brand}}
                    <option value="{{this.brand_id}}">{{this.brand_name}}</option>
                    {{/each}}
                </select>
                
                <label for="modelSelect">Valitse Malli:</label>
                <select id="modelSelect" name="modelSelect" class="form-control" multiple="multiple">
                    {{#each car_model}}
                    <option value="{{this.model_id}}">{{this.model_name}}</option>
                    {{/each}}
                </select>

                <label for="minPrice">Min Hinta:</label>
                <input type="number" id="minPrice" name="minPrice" class="form-control" min="0">

                <label for="maxPrice">Max Hinta:</label>
                <input type="number" id="maxPrice" name="maxPrice" class="form-control" min="0">

                <label for="minYear">Vuosimalli alkaen:</label>
                <input type="number" id="minYear" name="minYear" class="form-control" min="0">

                <label for="maxYear">Vuosimalli päättyen:</label>
                <input type="number" id="maxYear" name="maxYear" class="form-control" min="0">

                <label for="minMileage">Kilometrit minimi:</label>
                <input type="number" id="minMileage" name="minMileage" class="form-control" min="0">

                <label for="maxMileage">Kilometrit maksimi:</label>
                <input type="number" id="maxMileage" name="maxMileage" class="form-control" min="0">

                <label for="powerType">Käyttövoima:</label>
                    <select id="powerType" name="powerType" class="form-control" multiple="multiple">
                        <option value="Diesel">Diesel</option>
                        <option value="Bensiini">Bensiini</option>
                        <option value="Sähkö">Sähkö</option>
                        <option value="Hybridi">Hybridi</option>
                    </select>

                <label for="gearboxType">Vaihteisto:</label>
                    <select id="gearboxType" name="gearboxType" class="form-control" multiple="multiple">
                        <option value="Automaatti">Automaatti</option>
                        <option value="Manuaali">Manuaali</option>
                    </select>
            
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
        
        <div>
            <h2>Car List</h2>
            <ul>
                {{#each items}}
                <li>
                    <strong>Auton ID:</strong> {{this.car_id}} <br>
                    <strong>Merkki:</strong> {{this.brand_name}} <br>
                    <strong>Malli:</strong> {{this.model_name}} <br>
                    <strong>Hinta:</strong> {{this.price}} <br>
                    <strong>Vuosimalli:</strong> {{this.model_year}} <br>
                    <strong>Kilometrit:</strong> {{this.mileage}} <br>
                    <strong>Käyttövoima:</strong> {{this.power_type}} <br>
                    <strong>Vaihteisto:</strong> {{this.gearbox_type}} <br>
                    <br>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>
</html>