{{!-- result.handlebars --}}
<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <style>
        .listing-layout {
            margin-left: 10%;
        }    
       
        .results-title {
            margin-bottom: 70px;
            margin-top: 40px;
        }

        a {
            color: rgb(52, 77, 27);
        }

        .listing-item {
            margin-bottom: 20px;
        }

        .listing-content {
            display: flex;
            align-items: flex-start;
        }

        .listing-image {
            width: 30%;
            margin-right: 2px;
            height: auto;           
        }

        .info-list {            
            font-size: large;
            margin-left: 10px
        }

    </style>
</head>

<body>
    <div class="listing-layout">
        <h2 class="results-title">Results</h2>
        <ul style="list-style: none;">
            {{#each items}}
            <li>
                <div class="listing-item">                    
                    <div class="listing-content">
                        <img class="listing-image" src="{{this.image}}">                        
                        <div class="info-list">
                            <h3><a href="/items/{{this.car_id}}">{{this.brand_name}} {{this.model_name}}</a></h3>
                            <strong>Car ID:</strong> {{this.car_id}} <br>
                            <strong>Brand:</strong> {{this.brand_name}} <br>
                            <strong>Model:</strong> {{this.model_name}} <br>
                            <strong>Price:</strong> {{this.price}} <br>
                            <strong>Model Year:</strong> {{this.model_year}} <br>
                            <strong>Mileage:</strong> {{this.mileage}} <br>
                            <strong>Power Type:</strong> {{this.power_type}} <br>
                            <strong>Gearbox Type:</strong> {{this.gearbox_type}} <br>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="container mt-5">
        <h1>Search cars</h1>
        <form id="searchForm" action="/items/search" method="get" class="form-inline mb-4">
            <div class="form-group mx-sm-3 mb-2">
                <label for="brandSelect">Select Brand:</label>
                <select id="brandSelect" name="brandSelect" class="form-control" multiple="multiple">
                    {{#each car_brand}}
                    <option value="{{this.brand_id}}">{{this.brand_name}}</option>
                    {{/each}}
                </select>

                <label for="modelSelect">Select Model:</label>
                <select id="modelSelect" name="modelSelect" class="form-control" multiple="multiple">
                    {{#each car_model}}
                    <option value="{{this.model_id}}">{{this.model_name}}</option>
                    {{/each}}
                </select>

                <label for="minPrice">Min Price:</label>
                <input type="number" id="minPrice" name="minPrice" class="form-control" placeholder="Type min price"
                    min="0">

                <label for="maxPrice">Max Price:</label>
                <input type="number" id="maxPrice" name="maxPrice" class="form-control" placeholder="Type max price"
                    min="0">

                <label for="oldestYear">Oldest Year:</label>
                <input type="number" id="oldestYear" name="oldestYear" class="form-control" placeholder="Type year"
                    min="0">

                <label for="newestYear">Newest Year:</label>
                <input type="number" id="newestYear" name="newestYear" class="form-control" placeholder="Type year"
                    min="0">

                <label for="minMileage">Min Mileage:</label>
                <input type="number" id="minMileage" name="minMileage" class="form-control"
                    placeholder="Type min mileage" min="0">

                <label for="maxMileage">Max Mileage:</label>
                <input type="number" id="maxMileage" name="maxMileage" class="form-control"
                    placeholder="Type max mileage" min="0">

                <label for="powerType">Select Power Type:</label>
                <select id="powerType" name="powerType" class="form-control" multiple="multiple">
                    <option value="petrol">Petrol</option>
                    <option value="diesel">Diesel</option>
                    <option value="electric">Electric</option>
                    <option value="hybrid">Hybrid</option>
                </select>

                <label for="gearboxType">Select Gearbox Type:</label>
                <select id="gearboxType" name="gearboxType" class="form-control" multiple="multiple">
                    <option value="Manual">Manual</option>
                    <option value="Automatic">Automatic</option>
                </select>

                <label for="idSearch">Search Vehicle by ID:</label>
                <input type="number" id="idSearch" name="idSearch" class="form-control" placeholder="Type Vehicle ID"
                    min="0">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>
</body>

</html>